*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    height: 100vh;
    background-color: aquamarine;
}
h1{
font-size: 60px;
text-align: center;
}
.laptoplarge , .laptop, .tab, .phone{
    font-size: 40px;
    text-align:center ;
    display: none;
}
@media screen and (max-width: 1440px) {
    body{
        background-color: brown;
    }
    .laptoplarge{
        display: block;
    }
}
@media screen and (max-width: 1040px) {
    body{
        background-color: chartreuse;
    }
    .laptop{
        display: block;
    }
    .laptoplarge{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    body{
        background-color: darkorange;
    }
    .laptoplarge{
        display: none;
    }
    .laptop{
        display: none;
    }
    .tab{
        display: block;
    }
}
@media screen and (max-width: 425px) {
    body{
        background-color: darkolivegreen;
    }
    .laptoplarge{
        display: none;
    }
    .laptop{
        display: none;
    }
    .tab{
        display: none;
    }
    .phone{
        display: block;
    }
}